html, body {
    margin: 0;
    padding: 0;

    height: 100%;
}

body {
    background-color: #888;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;    

    min-height: 100%;
}

#game-div {
    padding: 10px;
    background-color: #BDBDBD;
    
    border: 5px solid;

    border-top-color: #FFFFFF;
    border-left-color: #FFFFFF;
    border-bottom-color: #7B7B7B;
    border-right-color: #7B7B7B;
}

#top{
    display: flex;
    width: 500px;
    margin-bottom: 20px;
    justify-content: space-between;
    background-color: #BDBDBD;
}

#top img {
    margin: 5px 0;
    height: 50px;
}

#top > img:hover{
    cursor: pointer;
}

#top > div {
    display: flex;
    margin: 0 10px;
}

#game {
    width: 500px;
    height: 500px;
}

#game, #top {
    border: 5px solid;

    border-top-color: #7B7B7B;
    border-left-color: #7B7B7B;
    border-bottom-color: #FFFFFF;
    border-right-color: #FFFFFF;
}

div[id*='div-']{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10%;
}

#game img{
    width: 50px;
    height: 50px;
}

span:hover{
    cursor: pointer;
}

.filled{
    background-color: #999;
}